[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
twine = "*"
pytest-mock = "*"
httpretty = "*"
pylint = "*"
pyreleaser = "*"
mypy = "*"
"e1839a8" = {path = ".", extras = ["ejson"], editable = true}

[dev-packages]
